<div class="<%= cycle_on_iterable(html_class) %>">
  <h4><%= list.name %> <%= content_tag(:span, "list", :class => public_list?(list)) %></h4>
  <ul>
    <%- if list.tasks.empty? %>
      <li>No tasks</li>
    <%- else %>
      <%- list.tasks.each do |task| %>
        <li>
          <%= image_tag("finished.png") if task.finished %>
          <%= task.name %>
          <%= "due on " + I18n.localize(task.due_on, :format => :short) unless task.due_on.nil? %>
        </li>
      <%- end %>
    <%- end %>
  </ul>

  <%= render :partial => "lists/controls", :locals => {:list => list, :access_level => list.belongs_to(current_user)} %>
</div>
