<%= simple_form_for(@list) do |f| %>
  <p><%= @list.errors.full_messages.join("<br>").html_safe %></p>

  <%= f.input :name %>
  <%= f.input :public %>

  <div class="task">
    <%= f.fields_for(:tasks) do |task_form| %>
      <% render("tasks_form", f: task_form) %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
