<%= simple_nested_form_for(@list) do |f| %>
  <%= f.input :name, :label => "List name" %>
  <%= f.input :public %>

    <%= f.fields_for(:tasks) do |task_form| %>
      <div class="task">
        <%= render("task_fields", f: task_form) %>
      </div>
    <% end %>
  <p>
    <%= f.link_to_add(image_tag("task_add.png", title: "Add new task") + " Add new task", :tasks) %>
  </p>

  <%= f.submit %>
<% end %>
