<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Public:</b>
  <%= @list.public %>
</p>

<p>
  <% @list.tasks.each do |task| %>
    <%= task.name %>
    <hr>
  <% end %>
</p>

<p>
  <b>User:</b>
  <%= link_to(@list.user.username, "#") %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
