<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= @watchlist.list_id %>
</p>

<p>
  <b>User:</b>
  <%= @watchlist.user_id %>
</p>


<%= link_to 'Edit', edit_watchlist_path(@watchlist) %> |
<%= link_to 'Back', watchlists_path %>
