<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Finished:</b>
  <%= @task.finished ? "✓" : "No" %>
</p>

<p>
  <b>Due on:</b>
  <%= @task.due_on %>
</p>

<p>
  <b>List:</b>
  <%= @task.list.name %>
</p>


<%= link_to 'Edit', edit_list_task_path(@task) %> |
<%= link_to 'Back', list_tasks_path %>
